---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div style="width: 100%; max-width: 400px; height: 600px; border: 1px solid #e5e7eb; border-radius: 0.5rem;overflow: hidden;">
        <iframe src="https://tutoria-widget.vercel.app?dark=auto" width="100%" height="100%" style="overflow: hidden; " loading="lazy" ></iframe>
    </div>
</Layout>